
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.nav-bar {
    display: flex;
    padding: 20px;

}

.nav-bar img {
    width: 100px;
    height: 75px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.3rem;
}
.nav-bar hr {
    position: absolute;
    left: 2.5rem;
    top: 0.5rem;
    width: 85rem;
    border-color: var(--secondarycolor);
    height: 4px;
    color: var(--secondarycolor);
    background-color: var(--secondarycolor);
    border-radius: 5px;
}
.nav {
    display: flex;
    width: 75rem;
    gap: 30px;
    justify-content: space-between;
    font-family: Raleway;
	text-align: center;
    margin-top: 0px;
    margin-left: 1rem;
}
a {
    color: #FFF;
}
.nav a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    width: 18rem;
}
.nav a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: var(--secondarycolor);
    transition: all 0.3s;
    z-index: -1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.nav a:hover:before
{
    height: 100%;
}
.active {
    color: var(--secondarycolor);
}
.active:hover {
    color: black;
}