

.settings-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #768499;
}
.settings-title {
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    margin-left: 1em;
}
.btn-container {
    margin-right: .5em;
}
.btn-zurück {
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: .1em solid #768499;
    border-radius: 2em;
    color: #1e293b;
    font-weight: bold;
    margin-right: .5em;
    background-color: #fff;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, .1);
}
.btn-zurück:hover {
    background-color: #f1f5f9;
}
p{
    margin: 1em 2em;
    color: var(--secondarytext);
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .settings-content {
        margin: 0;
    }
    .settings-content-header {
        flex-direction: column;
    }
    .settings-title {
        font-size: 1.5em;
    }
}