/* Homepage CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.header {
    margin-right: auto;
}
.header img {
    width: 50px;
    height: 50px;
}
.nav {
    display: flex;
    gap: 30px;
}
.nav a {
    color: white;
    font-size: 1.2em;
}
.main {
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}
.week-days {
    background-color: var(--secondarybackground);
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.day {
    background-color: var(--mainbackground);
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    width: 45px;
    height: 40px;
    line-height: 40px;
}
.content-Tracking {
    display: flex;
    justify-content: space-between;
}
.content-Tracking h3 {
    color: white;
}
.content-Tracking p {
    color: var(--secondarytext);
}
.content-Tracking a {
    color: var(--secondarycolor);
    text-decoration: none;
}
.card {
    background-color: var(--secondarybackground);
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    text-align: center;
}
.card img {
    width: 20%;
    height: auto;
    border-radius: 10px;
}
.content-Informations {
    display: flex;
    flex-direction: column;
}
.content-Informations h3 {
     color: white;
 }
.content-Informations p {
    color: var(--secondarytext);
}
.content-Informations a {
    color: var(--secondarycolor);
    text-decoration: none;
}
.banner {
    background-color: var(--secondarybackground);
    border-radius: 10px;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}
.footer {
    background-color: var(--secondarybackground);;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.footer a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
    }
    .nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .content-Tracking {
        flex-direction: column;
    }
    .card {
        min-width: 100%;
    }
    iframe {
        height: 100%;
        width: auto;
    }
}

@media (max-width: 480px) {
    .day {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .nav a {
        font-size: 1em;
    }
    .button {
        font-size: 0.9em;
        padding: 8px;
    }
}