/* Homepage CSS */
figure img {
    width: 100%;
    height: auto;

}
.main {
    padding: 2em;
}
.week-days {
    background-color: var(--secondarybackground);
    display: flex;
    border-radius: 1em;
    justify-content: space-around;
    margin-bottom: 2em;
}
.day {
    background-color: var(--mainbackground);
    color: #fff;
    padding: 1em;
    border-radius: 50%;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 1.3em;
    margin: 1em;
    font-size: 1.5em;
}
.actual {
    background-color: var(--secondarycolor);
}
.content-Tracking {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.content-Tracking h3 {
    color: white;
}
.content-Tracking p {
    color: var(--secondarytext);
}
.content-Tracking a {
    justify-content: center;
    align-content: center;
    font-size: 2em;
    color: var(--secondarycolor);
    text-decoration: none;
}
.card {
    display: grid;
    grid-template-columns: 25% 55% 20%;
    grid-template-rows: 100%;
    grid-template-areas:"image content buttun";
    background-color: var(--secondarybackground);
    border-radius: 1em;
    padding: 2em;
    width: 45%;
    text-align: center;
    align-items: center;

}
.button :hover{
    font-size: 3em;
    text-decoration: underline;
}
.IFrame p {
    color: white;
    font-size: 2em;
}
iframe {
    width: 100%;
    height: 50em;
    border: none;
}
@media screen and (max-width: 1260px){
    .day {
        font-size: 1.3em;
        width: 1.8em;
        height: 1.8em;
        line-height: 1em;
        margin: 0.5em;
    }
}



@media screen and (max-width: 768px) {
    .week-days {
        display: none;
    }
    .week-days-select {
        display: block;
        width: 100%;
        margin: 1em 0;
    }

    .selected-day-container {
        background-color: var(--secondarybackground);
        border-radius: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
        margin: 1em 0;
        min-width: 90%;
    }

    .selected-day {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .selected-day .day {
        background-color: var(--mainbackground);
        color: #fff;
        padding: 1em;
        border-radius: 50%;
        text-align: center;
        width: 2em;
        height: 2em;
        line-height: 2em;
        margin: 0;
        font-size: 1.5em;
    }

    .selected-day .day.actual {
        background-color: var(--secondarycolor);
    }

    .content-Tracking {
        flex-direction: column;
    }
    .card {
        min-width: 90%;
        margin-bottom: 1em;
    }
    iframe {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 430px){
    .card {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .selected-day-container {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}