
.exercises {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exercises h1 {
    color: var(--secondarytext);
    font-size: 2em;
    margin: 20px;
}
.exercises-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
    margin-top: 20px;
}

.activeExercise img {
    /* color the image */
    filter: brightness(1) !important;
}

.exercise-picture img {
    z-index: 0;
    cursor: pointer;
    width: 10em;
    filter: brightness(0.5);
}

.returnBtn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.startBtn {
    background-color: var(--secondarycolor);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    width: 14em;
    z-index: 1;
    border-radius: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.exercise-sets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.exercise-sets h2 {
    color: #FFF;
    font-size: 1.5em;
    margin: 20px;
}

.set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 60%;
    background-color: var(--secondarybackground);
    border-radius: 15px;
}

.set h3 {
    color: #FFF;
    font-size: 1.5em;
    margin: 20px;
}

.set h4 {
    color: var(--secondarytext);
    font-size: 1.5em;
    margin: 20px;
}




@media screen and (max-width: 700px) {
    .exercises-pictures {
        gap: 1em;
    }
    .set {
        width: 90%;
    }
}
@media screen and (max-width: 400px) {
    .exercises-pictures img {
        width: 6em;
    }
    .set {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 300px) {
    .startBtn {
        width: 10em;
    }
    
}
