
.exercises {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exercises h1 {
    color: var(--secondarytext);
    font-size: 2em;
    margin: 20px;
}


.exercise-item {
    background-color: #34495e;
    padding: 20px;
    margin: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: #FFF;
}

.exercise-item img {
    width: 10em;
    height: 10em;
    margin-right: 20px;
    border-radius: 5px;
}

.exercise-item div {
    flex-grow: 1;
}
.exercise-item p {
    color: var(--secondarytext);
}
.exercise-item a {
    font-size: 40px;
    margin-right: 30px;
}
.returnBtn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.startBtn {
    background-color: var(--secondarycolor);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 14em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 50px;
}


@media screen and (max-width: 600px) {
    .exercise-item {
        flex-direction: column;
        align-items: center;
    }
}

