
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
.nav-bar {
    display: flex;
    padding: 20px;
    width: 100%;

}

.nav-bar img {
    width: 100px;
    height: 75px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.3em;
}
.nav-bar hr {
    position: absolute;
    left: 2.5em;
    top: 0.5em;
    width: 95%;
    border-color: var(--secondarycolor);
    height: 4px;
    color: var(--secondarycolor);
    background-color: var(--secondarycolor);
    border-radius: 5px;
}
.nav {
    display: flex;
    width: 85%;
    gap: 30px;
    justify-content: space-between;
    font-family: Raleway;
	text-align: center;
    margin-top: 0px;
    margin-left: 1em;
}
.nav a {
    color: #FFF;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    padding: 20px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    width: 18em;
}
.nav a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: var(--secondarycolor);
    transition: all 0.3s;
    z-index: -1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.nav a:hover:before
{
    height: 100%;
}
.active {
    color: var(--secondarycolor);
}
.active:hover {
    color: black;
}


.main {
    padding: 2em;
}
.week-days {
    background-color: var(--secondarybackground);
    display: flex;
    border-radius: 1em;
    justify-content: space-around;
    margin-bottom: 2em;
}
.day {
    background-color: var(--mainbackground);
    color: #fff;
    padding: 1em;
    border-radius: 50%;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2em;
    margin: 1em;
    font-size: 1.5em;
}
.actual {
    background-color: var(--secondarycolor);
}


.frame{
    background-color: var(--secondarybackground);
    border-radius: 1em;
    padding: 0 1em;
    width: auto;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    gap: 0;
    grid-template-areas:
    "heading"
    "calories-overview"
    "naehrwerte"
    "meal-tracking";
}
.heading {
    grid-area: heading;
    text-align: left;
    color: white;
    font-size: 1.5em;
}

.calories-overview {
    grid-area: calories-overview;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
    gap: 0;
    grid-template-areas: "calories-eaten calories-left calories-planned";
    text-align: center;
    align-items: center;
    border-bottom: var(--secondarytext) solid .15em;
}
.calories-eaten {
    grid-area: calories-eaten;
    color: white;
    font-size: 1em;
}
.calories-left {
    grid-area: calories-left;
    color: white;
    font-size: 1em;
}
.currentCalories {
    position: relative;
    top: -80px;
}
.svgCalories {
    position: relative;
    top: 40px;
    left: -12px;
}
svg {
    height: 10em;
    width: auto;
    margin: auto;
    display: block;
}
path {
    stroke-linecap: round;
    stroke-width: 5;
}
path.grey {
    stroke: var(--secondarytext);
    stroke-dasharray:calc(40 * 3.142 * 1.85) ;
    stroke-dashoffset: 20;
}
path.purple {
    stroke: var(--secondarycolor);
    stroke-dasharray: calc(40 * 3.142 * 1.85);
    stroke-dashoffset: 233;
    /* adjust last number for variance */
}
.calories-planned {
    grid-area: calories-planned;
    color: white;
    font-size: 1em;
}
.calories-left p, .calories-eaten p, .calories-planned p {
    color: var(--secondarytext);
}


.Naehrwerte {
    grid-area: naehrwerte;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
    gap: 0;
    grid-template-areas: "carbs proteins fat";
    text-align: center;
    align-items: center;
    margin-top: 2em;
}
.carbs {
    grid-area: carbs;
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carbs p, .proteins p, .fat p {
    color: var(--secondarytext);
}
.proteins {
    grid-area: proteins;
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fat {
    grid-area: fat;
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
progress {
    -webkit-appearance: none;
    appearance: none;
}
progress::-webkit-progress-bar {
    background-color: var(--secondarytext);
    border-radius: .4em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress::-webkit-progress-value {
    background-color: var(--secondarycolor);
    border-radius: .4em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}


.meal-tracking {
    grid-area: meal-tracking;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}
.banner {
    background-color: var(--mainbackground);
    border-radius: 1em;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    margin-bottom: 2em;
    text-align: center;
    align-items: center;
    color: var(--secondarytext);
}
.add-icon {
    transition: all 0.3s ease;
}

.add-icon:hover {
    transform: scale(1.8);
}
.banner-first-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
    padding-bottom: 1.5em;
    border-bottom: var(--secondarytext) solid .1em;
}
.banner p {
    align-self: flex-start;
    text-align: left;
    width: 100%;
    margin-bottom: 1em;
    font-size: 1.3em;
}
.banner-second-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}
.input-tracking {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.input-tracking label {
    color:#fff;
    font-size: 1.3em;
    margin-bottom: 0.75em;
}
.banner input {
    width: 50%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--secondarytext);
    color: white;
    text-align: center;
    font-size: 1em;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

footer {
    background-color: var(--secondarybackground);;
    padding: 2em 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10%;
}
footer a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

@media screen and (max-width: 1260px){
    .nav-bar {
        width: 80%;
    }
}

@media  screen and (max-width: 925px) {
    .nav-bar {
        width: 80%;
    }
    .nav a {
        font-size: 1.5em;
    }
    .day {
        font-size: 1.3em;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.8em;
        margin: 0.5em;
    }
}

@media screen and (max-width: 900px) {
    .nav {
        margin: 0;
    }
    .nav-bar {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    .nav-bar hr {
        display: none;
    }
    .nav {
        display: none;
    }
    .nav-bar::after {
        content: '\25BC'; /* Down arrow */
        display: block;
        text-align: center;
        cursor: pointer;
        color: var(--secondarycolor); /* Pfeil in der Farbe secondarycolor */
    }
    .nav-bar.open .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
    .nav a {
        font-size: 1.5em;
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }
}


@media screen and (max-width: 768px) {

    .week-days {
        display: none;
    }
    .week-days-select {
        display: block;
        width: 100%;
        margin: 1em 0;
    }

    .selected-day-container {
        background-color: var(--secondarybackground);
        border-radius: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        margin: 1em 0;
    }

    .selected-day {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .selected-day .day {
        background-color: var(--mainbackground);
        color: #fff;
        padding: 1em;
        border-radius: 50%;
        text-align: center;
        width: 2em;
        height: 2em;
        line-height: 2em;
        margin: 0;
        font-size: 1.5em;
    }

    .selected-day .day.actual {
        background-color: var(--secondarycolor);
    }

    .calories-overview {
        display: none;
    }
    .calories-dropdown {
        display: block;
        width: 100%;
        margin: 1em 0;
        z-index: 1;
    }

    .selected-calories-container {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        position: relative;
        top: -164em;
        left: 50%;
        transform: translateX(-50%);
    }
    .calories-left {
        position: relative;
        top: -4.2em;
    }
    .currentCalories {
        position: relative;
        left: 3.7em;
    }

    .Naehrwerte {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .meal-tracking .banner-second-row {
        flex-direction: column;
    }

    .calories-eaten, .calories-left, .calories-planned {
        display: none;
    }

    .visible {
        display: block !important;
    }
    footer {
        font-size: 0.5em;
    }
    
}

@media  screen and (max-width: 465px) {
    .heading h2 {
        font-size: 1em;
        margin-bottom: 2v5px;
    }
    
}

@media screen and (max-width: 460px){
    .selected-calories-container {
        top: -169em;
    }
}
